extends base

block content
  each person in people
    div.card
      a(href=`/profile/${person.id}`)
        img(src=`${person.image}` alt=`${person.name}` style="width:100%")
      div.container
        h4
          b #{person.name}
          p Age: #{person.age}